<!-- Navigation -->{% load i18n %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">{% trans "Maagar.IM" %}</a>
        </div>

        <div id="main-navbar" class="navbar-collapse collapse" role="navigation">
            {# Main navigation #}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'repository:index' %}">{% trans "Repositories" %}</a></li>
                <li><a href="{% url 'repository:owner:index' %}">{% trans "Owners" %}</a></li>
            </ul>

            {# Search form #}
            <form class="navbar-form navbar-right" role="search" action="{% url 'search' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="q" class="form-control" placeholder="{% trans "Repo name or Owner" %}"
                           value="{% if request.POST.q %}{{ request.POST.q }}{% else %}{{ request.GET.q }}{% endif %}">
                </div>
                <button type="submit" class="btn btn-default">{% trans "Search" %}</button>
            </form>

            {# User navigation #}
            {% if request.user.id %}
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            {{ request.user }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">{% trans "Account" %}</li>
                            <li><a href="#">{% trans "Profile" %}</a></li>
                            {% if request.user.is_superuser %}
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">{% trans "Admin" %}</li>
                                <li><a href="/admin/" target="_blank">{% trans "Dashboard" %}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>