{% extends 'base.html' %}{% load static i18n %}

{% block styles %}
    {{ block.super }}
    <link href="{% static "front/css/app.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        {% include 'partials/nav.html' %}
        <div id="site-container">
            {% block breadcrumbs %}
                <div>
                    <ul class="breadcrumb">
                        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                        {% block breadcrumb %}{% endblock %}
                    </ul>
                </div>
            {% endblock %}
            {% block container %}{% endblock %}
        </div>
    </div>
{% endblock %}
